<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>無題ドキュメント</title>
<link href="../../public/assets/css/space_infopege.css" rel="stylesheet" type="text/css">
</head>

<body>

<div>
    <div class="sp_jhfgry">
        <div class="sp_dfvBgtiA">
            <div class="sp_Wenghyf">
                <td class="sp_iughDur8s"><a href="/"><img class="judginglogo" src="../../public/img/spafac_mail_logo.png"></a></td>
                <div class="sp_Gury6g">
                    <h2 class="sp_Bitug7dd">無料会員登録の仮登録を受け付けました！</h2>
                    <pre class="sp_vbftrD">この度はスペースファクトリーへご登録いただきまして誠にありがとうございます。 <br>無料会員登録を完了するには、ご登録のメールアドレスに認証メールを送信させて頂きました。<br>24時間以内にリンクをクリックしてアカウントの認証を行なってください。</pre>
                </div>
                <div class="sp_Mgut78r">
                    <div class="sp_bhg7rie">
                        <a class="sp_Lo9rhf" type="anchor">
                        <span class="sp_vbfg5e">トップページへ</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
