@charset "UTF-8";
/* CSS Document */

/* --- reset css --- */
/* http://meyerweb.com/eric/tools/css/reset/v2.0 | 20110126License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
/* --- sccount setting page --- */
body {
    background: #f3f2f3;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", verdana, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* --- ここから追加する --- */

#container {
    border: 1px solid #e8e3df;
    border-width: 1px 0;
    box-shadow: 1px 1px 4px #ddd;
}


#container .inner {
    margin: 20px auto;
    width: 950px;
}

.underPage #mainContentWrapper {
    float: left;
    width: 744px;
}

#purchase-info {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 20px;
}

#purchase-info .description {
    margin: 0 0 10px 17px;
    color: #999;
}

#purchase-info .bl_good-feedback {
    margin: 0 17px 10px;
}

.underPage #mainContent {
    float: none;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#mainContent, .mainContent {
    /*float: left; */
    font-size: 13px;
    border: 1px solid #eee;
    background-color: #fff;
    padding: 12px 17px 35px;
    width: auto;
}


#talkroomContent {
    clear: both;
    border: 1px solid #eee;
    background: #fff;
    border-radius: 5px;
}

#talkroomContent .header {
    border-top: 0;
    border-radius: 5px 5px 0 0/5px 5px 0 0;
}


#talkroomContent .box {
    clear: both;
    padding: 14px 0 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
}


#talkroomContent .box .inner {
    width: 850px;
    padding: 0;
}


.clearfix:after {
    clear: both;
}


.clearfix:after, .clearfix:before {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after, .clearfix:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

#talkroomContent .box .inner .fl {width: 50px;}

#talkroomContent p {font-size: 14px;}

.fl, .imgL {float: left;}

.userIcon {
    overflow: hidden;
    border-radius: 50%;
}

img {
    vertical-align: top;
}

#talkroomContent .box .inner .fr {
    position: relative;
    width: 770px;
}

.fr {
    float: right;
}

#talkroomContent .box .inner .fr h3 {
    margin-bottom: 10px;
    font-weight: bold;
}

#talkroomContent .box .inner .fr .date {
    position: absolute;
    top: 0;
    right: 0;
    color: #c8c8c8;
    font-size: 12px;
}

#talkroomContent p {
    font-size: 14px;
}

#talkroomContent p {
    font-size: 14px;
}

#talkroomContent .header .notice {
    margin-top: 20px;
    padding: 15px;
    font-size: 14px;
    line-height: 21px;
    background: #f3f3f3;
}

#talkroomContent .header.box .notice .title, #talkroomContent .header.box .notice h3 {
    color: #e61874;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 24px;
    background: url(../images/talkroom/bg-talkroom-header.gif) repeat-x 0 100%;
}


#talkroomContent .box {
    clear: both;
    padding: 14px 0 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
}


#talkroomContent .response {
    padding: 15px 0 23px;
    background: #f0f9fd;
}

#talkroomContent .box .alreadyRead {
    color: #aaa;
    font-size: 11px;
    margin: 20px 0 0 120px;
}

#threadContent .replyColumn {
    position: relative;
    margin: 23px 0 15px;
}

.replyColumn.clearfix {
    position: relative;
    margin: 23px 0 15px;
}

img.replyUserImg {
    display: inline-block;
    border-radius: 50%;
    margin: 0 15px 0 4px;
    width: 50px;
    height: 50px;
}

.bl_reply-form {
    display: inline-block;
}


.message-title {
    border: 1px solid #eee;
    border-bottom: 0;
    width: 130px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    color: #999;
}

i.coconala-icon.-comment {
    margin-right: 4px;
    font-size: 15px;
    vertical-align: middle;
    color: #aaa;
}

.message-form {
    padding: 10px;
    text-align: center;
    border: 1px solid #eee;
}


textarea#DirectMessageBody {
    resize: vertical;
    border-radius: 5px;
    padding: 5px;
    width: 780px;
    height: 250px;
}


#threadContent .replyColumn {
    position: relative;
    margin: 23px 0 15px;
}

#threadContent .replyColumn .replyUserImg {
    display: inline-block;
    border-radius: 50%;
    margin: 0 15px 0 4px;
    width: 50px;
    height: 50px;
}

#threadContent .replyColumn .replyUserImg {
    display: inline-block;
    border-radius: 50%;
    margin: 0 15px 0 4px;
    width: 50px;
    height: 50px;
}

img {
    vertical-align: top;
}

#threadContent .replyColumn .bl_reply-form {
    display: inline-block;
}

.postLoader {
    display: none;
}

.postLoader .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
    opacity: .6;
    filter: alpha(opacity=60);
}

.postLoader .loader {
    position: absolute;
    bottom: 50%;
    right: 50%;
    z-index: 1000;
    background: url(../images/common/loading.gif) no-repeat;
    margin: -12px 0 0 -12px;
    width: 24px;
    height: 24px;
}



#threadContent .replyColumn .bl_reply-form .message-title {
    border: 1px solid #eee;
    border-bottom: 0;
    width: 130px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    color: #999;
}

#threadContent .replyColumn .bl_reply-form .message-title .-comment {
    margin-right: 4px;
    font-size: 15px;
    vertical-align: middle;
    color: #aaa;
}

.coconala-icon.-comment:before {
    content: "";
}

#threadContent .replyColumn .bl_reply-form .message-form {
    padding: 10px;
    text-align: center;
    border: 1px solid #eee;
}

#threadContent .replyColumn .bl_reply-form .message-form:before {
    display: block;
    width: 130px;
    height: 3px;
    margin: -12px 10px 9px -10px;
    content: " ";
    background: #fff;
}

#threadContent .replyColumn .bl_reply-form .message-form textarea {
    resize: vertical;
    border-radius: 5px;
    padding: 5px;
    width: 590px;
}

textarea {
    display: block;
    border: 1px solid #c5cbcb;
    border-radius: 5px;
    background: #fff;
}

.counter {
    text-align: right;
    color: #666;
    font-size: 14px;
    margin: 5px 5px 0 0;
}

#threadContent .replyColumn .bl_reply-form .message-form .c-btn {
    margin-bottom: 10px;
    width: 260px;
}

.c-btn.c-btn-primary {
    color: #fff;
    background-color: #8ec31f;
    border-color: #80af1c #80af1c #638816;
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.3);
}

.c-btn.c-btn-m {
    height: 44px;
    padding: 0 14px;
    line-height: 42px;
    font-size: 14px;
}

.bl_dm-notice {
    margin: 10px 20px;
}

h3.warning-title {
    margin: 15px 0;
    font-size: 20px;
    font-weight: bold;
    color: #e61818;
}

.notice-text-list {
    margin: 10px 0;
}


#threadContent .bl_dm-notice .warning-title {
    margin-top: 15px;
    font-size: 14px;
}

#threadContent .bl_dm-notice .notice-text {
    margin-top: 10px;
    line-height: 21px;
}

#threadContent .bl_dm-notice .notice-text .notice-text-list {
    margin: 5px 0;
}

#threadContent .bl_dm-notice {
    margin: 50px 0 40px;
}
