<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>無題ドキュメント</title>
<link href="../css/message_design.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="container">
<div class="inner clearfix">
    <div id="mainContentWrapper">
        <div id="purchase-info">
            <div class="bl_dm-notice">
            <h3 class="warning-title">
                <i class="coconala-icon -exclamation-circle"></i> ダイレクトメッセージ上での注意点
            </h3>
            <div class="notice-text">
                <p>スペースファクトリ外部での金銭トラブルや悪質な勧誘等のトラブルが報告されているため、外部誘導やスペースファクトリを介さない直接取引を禁止しております。</p>
                <div class="notice-text-list">
                    <p>・メールアドレス、電話番号、LINEなど、外部連絡先や外部サービスを記載して誘導する行為</p>
                    <p>・実際に会うことを誘導する行為</p>
                    <p>・スペースファクトリを介さずに、外部において直接取引を促す行為</p>
                </div>
                    <p>これらの行為が確認された場合、アカウント制限等の対応をさせていただきますのでご注意ください。</p>
            </div>
            </div>
        </div>

        <div id="mainContent" class="complete">
            <div id="talkroomContent">
        <!-- ゲスト用メッセージbox -->
                <div class="box">
                    <div class="inner clearfix">
                        <p class="fl">
                            <a href="#" target="_blank">
                                <img src="../images/message_icon.jpg" class="userIcon" alt=""></a>
                        </p>
                        <div class="fr">
                            <h3>ゲスト名</h3>
                            <p class="date">日付　2018-09-25 13:59:35</p>
                            <p class="message">メッセージエリア<br><br>メッセージエリア<br><br><br>
                                メッセージエリア<br>メッセージエリア
                            </p>
                        </div>
                    </div>
                </div><!-- end ゲスト用メッセージbox -->

        <!-- スペースオーナー用メッセージbox -->
                <div class="box response">
                    <div class="inner clearfix">
                        <p class="fl">
                            <a href="#" target="_blank"><img src="../images/message_icon.jpg" class="userIcon" alt=""></a>
                        </p>
                        <div class="fr">
                            <h3>オーナー名</h3>
                            <p class="date">日付　2018-09-25 17:28:12</p>
                            <p class="message">メッセージエリア<br><br>メッセージエリア<br><br><br>
                                メッセージエリア<br>メッセージエリア
                            </p>
                        </div>
                    </div>
                    <div class="alreadyRead">開封済み <span class="pastTime">2018年9月26日</span></div>
                </div><!-- end スペースオーナー用メッセージbox -->

        <!-- ゲスト用メッセージbox -->
        <div class="box">
                <div class="inner clearfix">
                    <p class="fl">
                        <a href="#" target="_blank">
                            <img src="../images/message_icon.jpg" class="userIcon" alt=""></a>
                    </p>
                    <div class="fr">
                        <h3>ゲスト名</h3>
                        <p class="date">日付　2018-09-25 13:59:35</p>
                        <p class="message">メッセージエリア<br><br>メッセージエリア<br><br><br>
                            メッセージエリア<br>メッセージエリア
                        </p>
                    </div>
                </div>
            </div><!-- end ゲスト用メッセージbox -->

    <!-- スペースオーナー用メッセージbox -->
            <div class="box response">
                <div class="inner clearfix">
                    <p class="fl">
                        <a href="#" target="_blank"><img src="../images/message_icon.jpg" class="userIcon" alt=""></a>
                    </p>
                    <div class="fr">
                        <h3>オーナー名</h3>
                        <p class="date">日付　2018-09-25 17:28:12</p>
                        <p class="message">メッセージエリア<br><br>メッセージエリア<br><br><br>
                            メッセージエリア<br>メッセージエリア
                        </p>
                    </div>
                </div>
                <div class="alreadyRead">開封済み <span class="pastTime">2018年9月26日</span></div>
            </div><!-- end スペースオーナー用メッセージbox -->

                <div class="replyColumn clearfix">
                        <a href="#">
                            <img src="../images/message_icon.jpg" class="replyUserImg" alt="">
                        </a>
                        <div class="bl_reply-form">
                            <div class="postLoader" style="display: none;">
                                <div class="overlay"></div>
                                <div class="loader"></div>
                            </div>
                            <form action="/mypage/direct_message/805250" class="comp_form_count" id="DirectMessageDirectMessageForm" method="post" accept-charset="utf-8">
                                <div style="display:none;"><input type="hidden" name="_method" value="POST" class="errPosRight"></div>
                                <div class="message-title"><i class="coconala-icon -comment"></i>メッセージ</div>
                            <div class="message-form">
                              <input type="hidden" name="data[_Token][key]" value="96f62755f9feac22f0ea5c9365ad40d71f18dfc655e7d8874eafadc53ae03e0e" id="_TokenKey" class="errPosRight">
                              <textarea name="data[DirectMessage][body]" placeholder="" rows="10" class="chkrequired chkmax1000 countElement js_textarea-autosize errPosRight after" id="DirectMessageBody" style="overflow: hidden; overflow-wrap: break-word; resize: vertical; height: 190px;"></textarea>
                              <p class="counter">1000</p>
                              <div id="err_DirectMessageBody" class="formError userformError form_DirectMessageDirectMessageForm fixed" style="display: none;">
                                <div class="formErrorMsg formErrorContent"></div>
                                <div class="formErrorArrow">
                                    <div class="line10"></div>
                                    <div class="line9"></div>
                                    <div class="line8"></div>
                                    <div class="line7"></div>
                                    <div class="line6"></div>
                                    <div class="line5"></div>
                                    <div class="line4"></div>
                                    <div class="line3"></div>
                                    <div class="line2"></div>
                                    <div class="line1"></div>
                                </div>
                                <span class="formErrorClose">×</span>
                             </div>
                                <button type="submit" class="c-btn c-btn-m c-btn-primary" data-select-like-a-boss="1">
                                    <p>ダイレクトメッセージを送信する</p>
                                </button>
                            </div>
                            </form>
                        </div>
                </div>
            </div> <!-- end talkroomContent -->
        </div><!-- end mainContent -->
    </div><!-- end mainContentWrapper -->
</div><!-- end inner clearfix -->
</div>

</body>
</html>
