@charset "utf-8";




/*--------------------------------------
 フローティングメニュー
----------------------------------------*/

div#floating-menu {
  position: fixed;
  width: 340px;
  top: 0px;
  left:50%;
  margin-left:130px;
  z-index: 9999;
}

div#floating-menu .col3 {
  text-align: center;
}

div#floating-menu .main__host-logo {
  margin-right: 10%;
}

div#floating-menu .main__host-detail {
  float: left;
  width: 65%;
}

div#floating-menu .box_01 .main__host-detail {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

div#floating-menu .host-detail_wrap {
  margin-bottom: 20px;
  border-bottom: 1px dashed #dcdcdc;
}

div#floating-menu h3.sub_discrpt {
  font-weight: normal;
  margin-bottom: 0px;
}

div#floating-menu h2.host_name {
  margin-bottom: 0px;
}

div#floating-menu a.blue_txt {
  font-weight: 600;
}

div#floating-menu .box_01 {
  border: 1px solid #dcdcdc;
  background-color: #FFF;
  padding: 20px;
}

div#floating-menu .box_02 {
  border: 1px solid #dcdcdc;
  background-color: #FFF;
  padding: 20px;
}

div#floating-menu .box_01 {
  margin-bottom: 30px;
}

div#floating-menu .col3 ul li:first-child {
  font-weight: 600;
  color: #b5b5b5;
}

div#floating-menu .col3 ul li:last-child {
  color: #313131;
}

div#floating-menu .yoyaku_btn {
  margin-top: 10px;
}

div#floating-menu .yoyaku_btn a {
  display: block;
  padding: 10px 25px;
  background-color: #6abde2;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

div#floating-menu .yoyaku_btn a:hover {
  background-color: #8de1d8;
}

div#floating-menu .fm_ttl {}

div#floating-menu .box_01 h3 {
  font-size: 22px;
}

div#floating-menu span.small_time {
  font-size: 14px;
}

div#floating-menu .box_01 .side ul li a {
  padding: 10px 35px 10px 20px;
  font-size: 12px;
  border: 1px solid #dcdcdc;
  color: #7a7b7c;
  width: auto;
}

div#floating-menu .box_01 .side ul li {
  display: inline-block;
}

div#floating-menu .box_01 .side ul li.fav a {
  padding: 10px 90px 10px 20px;
  font-size: 12px;
  border: 1px solid #dcdcdc;
  color: #7a7b7c;
  width: 186px;
}


.fixed {
  position: fixed;
  top: 0;
  left:50%;
  border-bottom: 1px solid #dcdcdc;
  z-index: 10000;
}

ul#fixedBox.main_nav.fixed {
  max-width: 100%;
}



/*--------------------------------------
 パンくず
----------------------------------------*/

div.breadcrumb div.inner ol li a:after {
  content: "\f105 ";
  font-family: FontAwesome;
  margin-left: 20px
}

div.breadcrumb div.inner ol li {
  display: inline-block;
  margin-right: 20px;
}

.breadcrumb {
  border-bottom: 2px solid #eee;
  padding:5px 20px;
}

.main_img_box {
  position: relative;
}
.main_img_box img{
	width:100%;
	height:auto;
}
.main_img_box>.main-look{
	position:absolute;
	bottom:50px;
	left:50%;
	margin:0 0 0 -490px;
	width:980px;
	height:50px;
}
.main_img_box>.main-look:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.look_btn {
	float:left;
}

.look_btn a {
  display: block;
  padding: 10px 40px;
  background: #FFF;
  border: 1px solid;
  color: #47bef4;
}

.look_btn a:hover {
  background: #47bef4;
  color: #FFF;
}


/*-----------------------------------
 contents
-------------------------------------*/
#second_main {
	width:980px;
	margin:0 auto;
  position: relative;
}
#second_main:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

section#second_main nav {
  float: none;
  border-bottom: 2px solid #cdcecf;
　width: 100%;
}

ul.main_nav {
  max-width:980px;
  margin: auto;
  background-color: #FFF;
}

ul.main_nav li {
  width: 82px;
  height:48px;
  text-align: center;
  display: inline-block;
}

ul.main_nav li a {
  width: 82px;
  height:48px;
display: flex;
  justify-content: center;
  align-items: center;
}

ul.main_nav li a:hover {
  color: #333;
  border-bottom: 2px solid #1177ba;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.main_wrapper {
  max-width:980px;
  margin: auto;
}

.ttl_box {
	width:610px;	
  padding: 30px 0;
}

.main_ttl {
  font-size: 16px;
}

.sub-ttl_box {}

.service-box div {
  float: left;
  margin-right: 30px;
}

div.gray {
  background-color: #f8f8f8;
  border-top: 2px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
}

.gray_txt {
  color: #cdcecf;
}


/*about*/

.col_wrapper {
  /*overflow: hidden;*/
  width: 60%;
  margin-right: 2px;
  float: left;
  padding: 30px 10px;
  border-bottom: 2px solid #dcdcdc;
}

.col_wrapper .ttl_box2 {
  width: 150px;
  float: left;
}

.col_wrapper .txt {
  float: right;
  width: 100%;
  margin-left: -150px;
  padding-left: 150px;
  box-sizing: border-box;
}

span.use {
  margin-right: 30px;
}

a.blue_txt {
  color: #6abde2;
  display: block;
}

span.small_txt {
  font-size: 12px;
}

.pay_list {
  float: left;
}

.card_img {
  float: left;
  margin-left: 20px;
}

.card_img ul li {
  display: inline-block;
}

.pic {
  width: 48%;
  float: left;
  margin-right: 2%;
  margin-bottom: 5px;
}

.pic:nth-child(even) {
  width: 48%;
  float: right;
  margin-right: 0;
}

.col3 {
  float: left;
  width: 33.33%;
}

.is-none {
  color: #dbdbdb;
}

.plan_ttl_box {
  margin-bottom: 10px;
}

.plan_ttl_box span {
  font-size: 12px;
  font-weight: normal;
}

.plan-button-box a {
  display: block;
  padding: 5px 25px;
  background-color: #6abde2;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}

.plan-button-box a:hover {
  background-color: #FFF;
  color: #6abde2;
  border: 1px solid;
}

.plan_ttl_box h3 {
  width: 50%;
  float: left;
  padding-top: 5px;
}

.button-box_wrap {
  float: left;
  width: 50%;
}

.plan-button-box {
  float: right;
}

span.small_time, span.small_txt {
  font-size: 10px;
}

.blue {
  color: #6abde2;
}

.plan_txt {
  margin-bottom: 20px;
  font-size: 12px;
}

.plan-button-box a.button-white {
  display: block;
  padding: 5px 40px;
  background-color: #FFF;
  border-radius: 4px;
  color: #ddd;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  border: 1px solid;
}

.main_wrapper div.last {
  border-bottom: 0px;
}


/*グラフ*/

div.white {
  background-color: #FFF;
}

li.space-main__usage-list {
  margin-top: 15px;
  line-height: 1;
}

p.space-main__usage-name {
  display: inline-block;
  width: 100px;
}

p.space-main__usage-per {
  display: inline-block;
  width: 35px;
  text-align: right;
}

.space-main__usage-graph {
  display: inline-block;
  width: 70%;
  height: 14px;
  background: #eaeaea;
  border-radius: 2px;
  margin-right: 10px;
}

.space-main__usage-graph-content {
  display: inline-block;
  height: 14px;
  background: #60df52;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  vertical-align: top;
}

h3.sub_discrpt {
  font-weight: normal;
  margin-bottom: 20px;
}


/*レビュー*/

.review_wrap {}

.review_line {
  padding: 20px 0px;
  border-bottom: 1px solid #dcdcdc;
}

.review_img_box {
  float: left;
  margin-right: 30px;
}

.review_img_box {
  float: left;
}

.user_name {}

.user_info {
  font-size: 12px;
}

.star_box {
  margin-bottom: 20px;
  font-size: 20px;
}

.pv_more_btn {
  max-width: 280px;
}

.pv_more_btn a {
  display: block;
  padding: 7px 25px;
  background-color: #6abde2;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}


/*オーナー*/

.host-detail_wrap {
  margin-bottom: 20px;
}

.main__host-logo {
  float: left;
  width: 25%;
}

.main__host-detail {
  float: left;
  width: 75%;
}

h2.host_name {
  margin-bottom: 20px;
}

.main__host-detail li {
  text-align: center;
}

.main__host-detail ul li:first-child {
  font-size: 18px;
  font-weight: 600;
  color: #b5b5b5;
}

span.day {
  display: block;
}

.authentication {
  padding: 20px 30px;
  border: 1px solid #eee;
  margin: 20px 0;
}

.authentication .logo {
  float: left;
  margin-right: 30px;
  padding: 10px;
}

.authentication .logo img {
  margin: auto;
}

.massage ul li {
  display: inline-block;
  margin-right: 30px;
  margin-top: 15px;
}

.massage ul li:before {
  content: url(../img/check.png);
  margin-right: 10px;
}

.massage {
  float: left;
}

#map {
  border-top: 2px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
}

#map>iframe,
#map>img{
	width:620px;
	height:auto;
	min-height:240px;

}

.map_adress {
	width:600px;	
  border-bottom: 2px solid #ddd;
  padding: 30px 10px;
}

.pd {
  padding: 30px 10px;
}

.adress_wrap {
  float: left;
}
.adress_wrap .adress_box{
	margin:0;
	padding:0;
}

.gm_btn {
	margin:5px 0 0 0;
  float: right;
  max-width: 280px;
}

.gm_btn a {
  display: block;

  padding: 7px 25px;
  background-color: #6abde2;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.gm_btn a:hover {
  background-color: #6abde280;
  ;
}

.access-title {
  width: 100px;
  color: #b3b3b4;
  float: left;
  margin:0;
}

.access-content {
  margin:0 0 0 100px;
}


/*スライド*/

#slide .box_wrap {
  width: 31%;
  float: left;
  margin-right: 2.3%;
  margin-bottom: 25px;
}

#slide .box_wrap:last-child {
  margin-right: 0;
}

#slide .fig_wrap .icon_h {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 18%;
}

#slide .box_txt {
  font-size: 12px;
}

#slide .price_box {
  background-color: black;
  width: 120px;
  padding: 5px;
  border-radius: 5px;
  color: #FFF;
  position: absolute;
  bottom:-1em;
  left: 10px;
  text-align: center;
  font-size: 12px;
}

#slide.list_wrap {
  position: relative;
  border-bottom: 0px;
  margin: 20px auto;
}

div#slide.list_wrap div.next {
  position: absolute;
  right: -20px;
  top: 20%;
}

div#slide.list_wrap div.pre {
  position: absolute;
  left: -30px;
  top: 20%;
}


@media only screen and ( max-width: 960px) {
#main {
    float: left;
    width:100%;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
.breadcrumb {
    border-bottom: 2px solid #eee;
    padding:1vw 0;
    width:100%;
    margin: 0 auto;
}
.main_img_box>.main-look{
	position:absolute;
	bottom:5vw;
	left:5vw;
	margin:0;
	width:50%;
	height:5vw;
}
section,
#second_main {
    width: 90%;
    margin: 0 auto;
    position: relative;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}


ul.main_nav {
    max-width:90%;
	margin:0 auto;
}

div#floating-menu {
	display:none;
	
}

.ttl_box {
    width:90%;
	margin:0 auto;
    padding: 3vw 0;
}

.col_wrapper {
    /* overflow: hidden; */
    width:96%;
    margin:0 auto;
    float: left;
    padding: 3vw 2%;
    border-bottom: 2px solid #dcdcdc;
}

#map>iframe, #map>img {
    width:100%;
    height: auto;
    min-height: 24vw;
	margin:0 auto;
}
.map_adress {
    width:100%;
    border-bottom: 2px solid #ddd;
    padding: 3vw 0;
}

}


@media only screen and ( max-width: 640px) {
	div#floating-menu {
		display:none;
	}
.main_img_box>.main-look {
    position: absolute;
    bottom: 5vw;
    left:5vw;
    margin: 0;
    width:60%;
    height: inherit;
}
.look_btn a {
    display: block;
    padding:1vw 1em;
    background: #FFF;
    border: 1px solid;
    color: #47bef4;
}
ul.main_nav {
	width:100%;
	max-width:100%;
	padding:0;
	margin:0;
	height:3rem;
 }
ul.main_nav li{
	float:left;
	width:18vw;
	max-width:18vw;
	margin:0 5px;
	height:2.4rem;
display: flex;
  justify-content: center;
  align-items: center;

}
ul.main_nav li a {
	text-align:center;
	width:100%;
	max-width:100%;
	min-width: inherit;
    height:5vw;
	padding:0;
}

div.breadcrumb div.inner ol{
	margin:1em auto;	
}
div.breadcrumb div.inner ol li {
    display: inline-block;
    margin-right:1vw;
}

.ttl_box {
    width:100%;
    margin: 0 auto;
    padding: 3vw 0;
}

.col_wrapper {
    /* overflow: hidden; */
    width:100%;
    margin: 0 auto;
    float: left;
    padding:3vw 0;
    border-bottom: 2px solid #dcdcdc;
}

.col_wrapper .ttl_box2 {
    width:90%;
    float: none;
	clear:both;
	display:block;
	margin:0 auto;
	padding:0;
}
.col_wrapper .txt {
    float: none;
    width:90%;
    margin:1em auto;
    padding-left:0;
    box-sizing: border-box;
	clear:both;
	display:block;
}
span.use {
	font-size:1.2rem;
    margin-right:0;
}

div.gray .main_wrapper:nth-of-type(10) .ttl_box2,
div.gray .main_wrapper:nth-of-type(9) .ttl_box2,
div.gray .main_wrapper:nth-of-type(8) .ttl_box2,
div.gray .main_wrapper:nth-of-type(6) .ttl_box2,
div.gray .main_wrapper:nth-of-type(5) .ttl_box2,
div.gray .main_wrapper:nth-of-type(4) .ttl_box2{
	width:35%;
	float:left;
	clear:inherit;
	display:inline-block;
}
div.gray .main_wrapper .ttl_box2 h3{
	font-size:1.4rem;
}
div.gray .main_wrapper .ttl_box2 h3 br{
	display:none;
}

div.gray .main_wrapper:nth-of-type(10) .txt,
div.gray .main_wrapper:nth-of-type(9) .txt,
div.gray .main_wrapper:nth-of-type(8) .txt,
div.gray .main_wrapper:nth-of-type(6) .txt,
div.gray .main_wrapper:nth-of-type(5) .txt,
div.gray .main_wrapper:nth-of-type(4) .txt{
	width:55%;
	margin:0;
	float:left;
	clear:inherit;
	display:inline-block;		
}
div.gray .main_wrapper .txt:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.card_img {
	width:100%;
    float: left;
    margin-left:0;
}
.card_img img{
	width:95%;
	height:auto;
	margin:0;
	padding:0;
}
.card_img ul{
	width:100%;
	margin:0.5em 0;	
}
.card_img ul li {
	width:30%;
    display: inline-block;
	float:left;
	margin:0;
	padding:0;
	clear:inherit;
}

div.gray .main_wrapper:nth-of-type(12) ul{
	font-size:1.2rem;
	color:#333;
}
div.gray .main_wrapper:nth-of-type(12) ul .is-none {
    color: #999;
}
.plan_ttl_box h3 {
    width:100%;
    float: left;
    padding:0.5em 0;
	clear:both;
}
.button-box_wrap {
    float: left;
    width:100%;
}
.pv_more_btn {
    max-width:70%;
	display:block;
	margin:1em auto;
}

div.gray .main_wrapper:nth-of-type(16) h3 br{
	display:none;	
}
div.gray .main_wrapper:nth-of-type(16) .col_wrapper .ttl_box2 {
	margin:0 auto;
	padding:0;
	float: none;
    width: 90%;
}
div.gray .main_wrapper:nth-of-type(16) .plan_ttl_box h3 {
    width: 100%;
    float: left;
    padding:0;
	margin:1em 0 0 0;
    clear: both;
}
div.white {
	clear:both;
	display:block;
	width:98%;
	margin:1em auto;
}
div.white h3.sub_discrpt {
	font-size:1.4rem;
    font-weight: normal;
    margin-bottom: 20px;
}
div.gray {
	padding:5%;;
}
div.gray .pv_more_btn{
    max-width:90%;
	display:block;
	margin:1em auto;
}

.main__host-logo {
    float: none;
	display:block;
    width:40%;
	margin:0 auto 0.5em auto;
}
.main__host-detail {
    float: none;
    width:90%;
	margin:0 auto;
}
.main__host-detail ul{
	clear:both;
	width:100%;
}
.main__host-detail ul li{
    font-size:1rem;
    font-weight: 600;
    color: #b5b5b5;
}
.main__host-detail ul li:first-child {
    font-size:1rem;
}
.authentication {
    padding:1em;
    border: 1px solid #eee;
    margin:1em 0;
}
#map>iframe, #map>img {
    width: 100%;
    height: auto;
    min-height:50vw;
    margin: 0 auto;
}
.map_adress {
    width: 100%;
    border-bottom: 2px solid #ddd;
    padding: 3vw 0;
	font-size:1.2rem;
}

#slide .box_wrap {
    width:90%;
    float: none;
    margin:1em auto;
	clear:both;
}
div#slide.list_wrap div.next,
div#slide.list_wrap div.pre {
	display:none;
}
#slide .price_box {
  background-color: black;
  width:70%;
  padding: 5px;
  border-radius: 5px;
  color: #FFF;
  position: relative;
  bottom:4em;
  left: 10px;
  text-align: center;
  font-size: 12px;
}
.fig_wrap{
	height:55vw;	
}
}

@media only screen and ( max-width: 480px) {

}
