@charset "utf-8";
/* CSS Document */
.inquiry * h2{
	font-size:20px;	
}

.inquiry .hero-image {
    margin-bottom:70px;
    width: 100%;
    height:480px;
    background-image: url(/assets/images/inquiry__hero-image.jpg);
    background-position:top center;
	background-size:auto 100%;
	background-repeat:no-repeat;
}

.inquiry .content {
  margin: 0 auto;
  width: 100%;
  max-width:1000px; }

  .inquiry .content>section {
	width:90%;
	margin:0 auto 3em auto;	
	}
  .inquiry .content>section>h2{
	  display: flex;
  justify-content:left;
  align-items: center;
  cursor:pointer;
  }
.inquiry .content>section>h2:before{
	content:"▶";
	margin-right:0.5em;
	color:#9E9E9E;	
}
  .inquiry .content>section>h2>svg{
	  margin-left:1em;	  
  }

.inquiry .sub-container{
    margin:1em auto;
	width:100%;
	display:none;
}

.inquiry .content .sub-container >div.sf_one_column{
	background-color:#EEE;	
    width:90%;
    margin:0 auto;
	padding:2em;
}

.inquiry .content .sub-container * div.sf_type_text{
	width:90%;
	clear:both;
	padding-bottom:1em;
	margin:0 auto;
display: flex;
  justify-content: center;
  align-items: center;	
}
.inquiry .content .sub-container * div.sf_type_text:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.inquiry .content .sub-container * span.required{
    color:#E60012;
    margin--left: 10px;
	background-color:transparent;
	font-size:16px;
	font-weight:bold;
}

.inquiry .content .sub-container textarea,
.inquiry .content .sub-container input[type=text]{
	min-width:60%;
	display:inline-block;
	padding:5px 1em;
	border:1px solid #666;
	border-radius:7px;
}
.inquiry .content .sub-container div.submit{
	text-align:center;
	padding:1em;
	width:100%;
	min-width:300px;
	margin:2em auto;
	clear:both;	
}
.inquiry .content .sub-container input[type=submit]{
	min-width:60%;
	display:inline-block;
	padding:5px 1em;
	border:1px solid #666;
	border-radius:7px;
	margin:0 auto;
}

.inquiry .content .sub-container * span.Category{
	font-weight:bold;
	width:60%;
	float:right;		
}

.inquiry * label{
	width:16em;
	display: inline-block;
}
.txtR{
	text-align:right;	
}
.txtC{
	text-align: center;	
}


@media (max-width:1000px) {

.inquiry .hero-image {
	background-size:auto 100%;
    margin-bottom:0;
	width:auto;
    height:40vw;
}

#primary {
    margin:7vw auto !important;
    width: 90%;
}
	
}

@media only screen and ( max-width: 640px) {
#primary {
    margin:14vw auto !important;
    width: 90%;
}	
.inquiry .content .sub-container >div.sf_one_column {
    background-color: #EEE;
    width:100%;
	margin: 0 auto;
    padding:0;
}
.inquiry .content .sub-container * div.sf_type_text {
    width:95%;
    clear: both;
    padding-bottom: 1em;
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
}
.inquiry * label {
    width:100%;
    display:block;
}
.inquiry .content .sub-container * span.Category {
	clear:both;
    font-weight: bold;
    width:100%;
    float: right;
}
.inquiry .content .sub-container textarea, .inquiry .content .sub-container input[type=text] {
    min-width:100%;
    display:block;
    padding: 5px 1em;
    border: 1px solid #666;
    border-radius: 7px;
	margin:0 auto;
}

.inquiry .content .sub-container div.submit {
    text-align: center;
    padding: 1em;
    width: 100%;
    min-width: inherit;
    margin:1em auto;
    clear: both;
}
.inquiry .content .sub-container >div.sf_one_column:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
  .inquiry .content>section>h2{
	  position:relative;
	  padding-right:1em;
	  text-align:left;
	  margin-left:0;	  
  }
  .inquiry .content>section>h2>svg{
	  position:absolute;
	  width:25px;
	  height:25px;
	  right:0;
	  top:0;
	  display:block;
  }

}