@charset "utf-8";
/* CSS Document */

.page .entry-content h2{
    font-size:2.2rem;
}
.page .entry-content h3 {
    margin: 2em 0 0.5em 0;
	font-size:2rem;
}
.page .entry-content>h2:nth-of-type(1){
	margin:1em 0 1em 3em;	
}
.page .entry-content>h2:nth-of-type(1):before{
	content:"▼";
	margin-right:0.5em;
}

ul.flow-list{
	display:block;
	margin:2em;
	-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
ul.flow-list:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

ul.flow-list li{
	display:block;
	clear:both;
	padding:2em 3em;
	border:1px solid #00A3DB;
	background-color:#FFF;
	margin:2em;
	text-align:center;
	border-radius:7px;
	position:relative;
}
ul.flow-list li:after{
	content:"▼";
	font-size:3rem;
	position:absolute;
	bottom:-1em;
	left:50%;
	margin-left:-15px;
	color:#00A3DB;
}
.page .entry-content p.indm {
    text-indent: -1em;
    margin: 0 0 0 1em;
}

.page .entry-content ul.flow-list li h3,
.page .entry-content ul.flow-list li h2{
	margin:1em 0;
	padding:0;
	color:#039;
}
p.txtL{
	text-align:left;	
}

ul.flow-list li:last-child{
	background-color:#EEEEEE;
	border:1px solid #999;
}
ul.flow-list li:last-child:after{
	content:"";
}

.cancel,
.payout{
	clear:both;
	display:block;
	margin:2em;
	padding:2em 3em;
	border:1px solid #99B60F;
}
.payout h2{
	color:#99B60F;
}
.cancel h3:before,
.payout h3:before{
	content:"▼";
	margin-right:0.5em;
	color:#99B60F;
}
.cancel h2,
.cancel h3:before{
	color:#DB141E;
}
.cancel{
	border:1px solid #DB141E;
}


@media only screen and (max-width:1200px) {
.wrap {
    width: 1000px;
    margin: 0 auto;
}

}

@media only screen and ( max-width: 640px) {
.page .entry-content>h2:nth-of-type(1) {
    margin: 1em 0;
	font-size:1.6rem;
}
.page .entry-content h3 {
    margin: 2em 0 0.5em 0;
    font-size:1.6rem;
}
ul.flow-list {
    display: block;
	width:100%;
    margin:2em auto;
	padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul.flow-list li {
    display: block;
    clear: both;
    padding:1em 0.5em;
    border: 1px solid #00A3DB;
    background-color: #FFF;
    margin: 2em 0;
    text-align: center;
    border-radius: 7px;
    position: relative;
}
.cancel, .payout {
    clear: both;
    display: block;
    margin: 2em 0;
    padding: 2em 1em;
    border: 1px solid #99B60F;
}

}